img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  height: 90vh;
  padding:1rem 6rem;
  z-index: 999;
  background-color: #252525;
  border-bottom: #3b82f6 1px solid;

  .left_section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      margin: 0;
      font-size: 3.5rem;
      color: #8a8a8a;
      font-family: Lato, Helvetica, Arial, sans-serif;
      font-weight: 700;
    }
    h1 {
      color: #3b82f6;
      font-size: 72px;
      text-transform: capitalize;
      font-weight: 700;
      line-height: 118%;
      margin: 10px 0;
    }

    span {
      font-weight: 600;
      line-height: 25px;
      margin-bottom: 15px;
      font-size: 1.5rem;
      color: #8a8a8a;
      font-family: Lato, Helvetica, Arial, sans-serif;
    }
  }

  .right_section {
    padding-top: 4rem;
    .img {
      height: 350px;
      width: 420px;
      object-fit: cover;
     
    }
  }
}

.btn {
  padding: 12px 30px;
  text-align: center;
  border: none;
  font-size: 1rem;
  color: #cacaca;
  border: 1px solid #3b82f6;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1.5rem 1rem;
  }
  .container .right_section{
    visibility: hidden;
  }
  // .img {
  //   visibility: hidden;
  // }

  .container .left_section span {
    font-size: 1rem;
  }

  .container .left_section h1 {
    font-size: 50px;
  }
  .container .left_section h2 {
    font-size: 1.5rem;
  }
  .container .left_section .btn{
    padding: 6px 15px;
    font-size: .8rem;
  }
}
